@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

:root {
    --main-color: #588D11;
    --secondary-color: #434342;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: rgb(3, 6, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.intro, .about, .services, .portfolio, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.profile-img, .about-img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.section-title {
    font-size: 2rem;
    color: white;
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-item {
    text-align: center;
    color: white;
}

.service-item i {
    font-size: 80px;
    color: rgb(222, 171, 9);
}

.portfolio-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.portfolio-images img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.contact-info {
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .service-list {
        flex-direction: column;
        align-items: center;
    }
}
